/****** BASE STYLES ******/
@font-face {
	font-family: StayRad;
	src: url('../fonts/stayrad.ttf') format('truetype');
}

body {
	font-family: 'Vollkorn', serif;
}



/****** GRID SYSTEM ******/
.full-width {
	margin: 0 auto;
	width: 90%;
}

.half-width {
	float: left;
	width: 50%;
}



/****** HEADER SECTION ******/
header {
	background: url(../img/photo5.jpg) no-repeat center fixed;
	background-size: cover;
	color: #fff;
	height: 800px;
	margin: 0 auto;
	z-index: -1;
}

header .full-width {
	height: 150px;
}

header .one {
	width: 35%;
}

header .two {
	width: 64.5%;
}

header h1 {
	background: url(../img/oregonicon.png) no-repeat;
	color: #000;
	font-family: 'StayRad', serif;
	font-size: 72px;
	margin-top: 20px;
	padding: 20px 20px 20px 30px;
}

header span {
	color: #fff;
	margin-left: 20px;
}

nav {
	float: right;
	margin-right: 50px;
	margin-top: 70px;
	z-index: 2;
}

nav li {
	display: inline-block;
	list-style-type: none;
}

nav ul li a {
	color: #ffffff;
	font-size: 1.2em;
	padding-left: 30px;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: darkred;
	text-decoration: none;
}

header .container {
	height: 650px;
	position: relative;
	z-index: 0;
}

header p {
	bottom: 30%;
	font-size: 160%;
	position: absolute;
	right: 22%;
	left: auto;
	z-index: 1;
}



/****** ABOUT SECTION ******/
#about {
	height: 500px;
	overflow: auto
}

#about h2 {
	font-size: 260%;
	font-weight: 700;
	margin-bottom: 80px;
	margin-top: 100px;
}

#about span {
	color: #615b27
}

#about p {
	color: #353535;
	font-family: 'Droid Sans', sans-serif;
	font-size: 150%;
	line-height: 35px;
}

#p-left {
	padding-right: 60px;
}

#p-right {
	padding-left: 60px;
}


/****** PORTFOLIO SECTION ******/
#portfolio {
	background: #a09d7d;
	padding: 20px 0;
	overflow: auto
}

#portfolio .full-width {
	text-align: center;
}

.portfolio #port-header {
	margin: 0 auto;
	background: red;
}

#portfolio .container {
	width: 100%;
}

/* Popup container */
.popup {
    cursor: pointer;
    display: inline-block;
    margin: 25px 1% 25px;
    position: relative;
    text-align: center;
    width: 30%;
    vertical-align: center;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    background-color: #3B232D;
    border-radius: 3px;
    color: #fff;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    overflow: auto;
    position: fixed;
    margin: 2% auto;
    text-align: center;
    visibility: hidden;
    width: 95%;
    z-index: 2;
}

.thumbnail {
    /*height: 225px;*/
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



/*Left side of popup*/
.popup .popuptext .img-box {
    width: 45%;
    float: left;
    padding: 1% 2%;
}
.popup .popuptext img {
    max-width: 100%;
    margin: 1em auto;
    max-height: 500px;
    height: auto;
}

/*end left side of popup*/


/*right side of popup*/
.popup .popuptext .textbox {
    width: 45%;
    float: left;
    height: 90%;
    margin-left: 2em;
    text-align: left;
    display: block;
    padding-right: 2em;
}

.popup .popuptext .textbox h1 {
    margin: 2em 0;
    font-weight: 700;
}

.popup .popuptext .tool-list {
    float: left;
    width: 40%;
    margin: 0 0 20px;
}

.popup .popuptext .textbox ul li {
    text-align: left;
    list-style: none;
    line-height: 2em;
}

.popup .popuptext .textbox h3 {
    clear: both;
    text-align: left;
    margin: 1em 0;
    font-weight: 700;
}

.popup .popuptext .textbox h3:first-of-type {
    clear: both;
    text-align: left;
    margin: 1em 0;
}

.popup .popuptext .textbox p {
    text-align: left;
    margin: 0 2em 1em; 
    line-height: 1.6;
}



/****** SERVICES SECTION ******/
#services {
	background: #263B40;
	height: auto;
	overflow: auto;
	padding: 20px 0;
}

#services .container {
	width: 100%;
}

/*Left side of popup*/
.popup.services-popup .popuptext .img-box {
    width: 45%;
    float: left;
    padding: 1%;
}
.popup.services-popup .popuptext img {
    max-width: 100%;
    margin: 1% auto;
    max-height: 200px;
    height: auto;
    padding: 0 10%;
}

/*end left side of popup*/


/*right side of popup*/
.popup.services-popup .popuptext .textbox {
    width: 45%;
    float: left;
    height: 90%;
    margin-left: 2em;
    padding: 0 1em;
    text-align: left;
}

.popup.services-popup .popuptext .textbox h1 {
    margin: 2em 0;
    font-weight: 700;
}

.popup.services-popup .popuptext .tool-list {
    float: left;
    width: 40%;
    margin: 0 0 20px;
}

.popup.services-popup .popuptext .textbox ul li {
    text-align: left;
    list-style: none;
    line-height: 2em;
}

.popup.services-popup .popuptext .textbox h3 {
    clear: both;
    text-align: left;
    margin: 2em 0;
    font-weight: 700;
}

.popup.services-popup .popuptext .textbox h3:first-of-type {
    clear: both;
    text-align: left;
    margin: 1em 0;
}

.popup.services-popup .popuptext .textbox p {
    text-align: left;
    margin: 0 2em 1em; 
    line-height: 1.6;
}



/****** CONTACT SECTION ******/
footer {
	background: url(../img/photo8.jpg) center no-repeat;
	color: #3b232d;
	height: 800px;
	text-align: center;
}

#contact {
	margin-top: 50px;
}

#socialmedia, #contactform, #contact h1, #tempContact {
	background: lightgray;
	border: 5px solid #3b232d;
	margin: 50px auto;
	max-width: 50%;
	padding: 20px;
}

#contact h1 {
	font-size: 200%;
	margin-top: 0;
	max-width: 200px;
}

#socialmedia {
	margin-left: 60px;
	max-height: 320px;
	min-height: 320px;
	text-align: center;
}

#socialmedia h2 {
	font-size: 200%;
	margin-bottom: 5%;
	margin-top: 15%;
}

#socialmedia li {
	list-style-type: none;
	width: 80%;
}

#socialmedia a {
	color: #3b232d;
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
	text-decoration: none;
	text-transform: uppercase;
}

#socialmedia a:hover {
	color: blue;
	font-weight: 700;
}
/*
#contactform {
	margin-right: 60px;
	max-height: 320px;
	min-height: 320px;
}*/

#tempContact {
	margin-right: 60px;
	max-height: 320px;
	min-height: 320px;
	min-width: 250px;
}

#tempContact img {
	margin: 0 auto;
	max-height: 260px;
	max-width: 85%;
	min-width: 200px;
	min-height: 20%;
	height: 90%;
}

footer img {
	height: 20%;
	margin-top: 120px;
}



/*============================================
Media Queries for Responsive Design:
These override the primary Desktop styles.
============================================*/


/* ------------------- Tablet Styles -------------------*/
@media(max-width: 939px) {

	/****** HEADER SECTION ******/
	header {
		height: 700px;
	}

		header .full-width {
			height: 150px;
		}

		header .full-width .one {
			width: 30%;
		}

		header .full-width .two {
			width: 69%;
		}

		header h1 {
			font-size: 48px;
			background-size: contain;
		}

		/****** NAV ******/
		nav {
			margin-right: 30px;
		}

			nav ul li a {
				font-size: 1em;
			}

	/****** Hero Msg ******/
		header .container {
			height: 550px;
			position: relative;
		}

			header p {
				bottom: 10%;
				font-size: 1.4em;
				right: 10%;
			}



	/****** ABOUT SECTION ******/
	#about h2 {
		font-size: 2.6em;
		margin-bottom: 60px;
		margin-top: 60px;
	}

	#about p {
		font-size: 1.3em;
		line-height: 1.5;
	}

	#p-left {
		padding-right: 30px;
	}

	#p-right {
		padding-left: 30px;
	}


	/****** PORTFOLIO SECTION ******/
	#portfolio {
		height: auto;

	}

		#portfolio .container {
			height: auto;
			width: 100%;
		}


	/****** CONTACT SECTION ******/
	footer {
		height: 600px;
	}

		#contact {
			margin-top: 50px;
		}

			#contact h1 {
				margin-bottom: 20px;
			}

		#socialmedia {
			min-width: 250px;
		}

		#tempContact {
			min-width: 250px;
		}

		#footer-logo {
			margin-top: 20px;
		}
}



/* ------------------- Mobile Styles -------------------*/
@media (max-width: 767.9px) {

	/****** HEADER SECTION ******/
	header {
		height: 700px;
	}

		header .full-width {
			height: 450px;
		}

		header .half-width, header .full-width .one, header .full-width .two {
			background-color: rgba(0, 0, 0, 0.5);
			width: 100%
		}

			header h1 {
				font-size: 72px;
				margin: 20px auto 30px auto;
				width: 300px;
			}

		/****** NAV ******/
		nav {
			margin-right: 0;
			margin-top: 0;
			width: 100%;
		}

			nav ul {
				padding-left: 0;
				margin: 0 auto;
			}

				nav li {
					margin: 0 auto;
					display: block;
					text-align: center;
					padding: 20px 0;
					border-bottom: 1px solid #fff;
					width: 60%;
				}

				nav li:nth-child(4) {
					border-bottom: none;
				}

					nav ul li a {
						font-size: 1.8em;
						padding-left: 0;
					}

	/****** Hero Msg ******/
		header .container {
			height: 250px;
			position: relative;
		}

			header p {
				bottom: 10%;
				font-size: 1.4em;
				right: 10%;
			}



	/****** ABOUT SECTION ******/
	#about {
		height: auto;
		text-align: center;
		padding: 40px 0; 
	}

	#about .half-width {
		width: 100%;
	}

	#about h2 {
		font-size: 2.6em;
		margin-bottom: 60px;
		margin-top: 60px;
	}

	#about p {
		font-size: 1.3em;
		line-height: 1.8;
	}

	#p-left {
		margin-bottom: 20px;
		padding-right: 0;
	}

	#p-right {
		margin-top: 20px;
		padding-left: 0;
	}


	/****** PORTFOLIO SECTION ******/
	#portfolio {
		height: auto;
	}

		#porfolio .full-width,
		#portfolio .container,
		#portfolio .popup,
		#portfolio .popup .popuptext .img-box,
		#portfolio .popup .popuptext .textbox {
			width: 100%;
		}

	/****** SERVICES SECTION ******/

	#services {
		height: auto;
	}
		#services .popup,
		#services .popup .popuptext .img-box,
		#services .popup .popuptext .textbox {
			width: 100%;
		}




	/****** CONTACT SECTION ******/
	footer {
		height: 600px;
		background: #fff;
	}

		footer .half-width {
			width: 100%;
		}

		#contact {
			padding-top: 20px;
			margin-top: 0;
		}

			#contact h1 {
				margin-bottom: 20px;
			}

		#socialmedia {
			min-width: 250px;
			min-height: 200px;
			max-height: 300px;
			margin: 0 auto;
		}

			#socialmedia h2 {
				margin: 0 auto 20px auto;
				padding: 0;
			}

			#socialmedia ul {
				padding: 0;
			}

			#socialmedia ul li {
				margin: 20px auto;
			}

		#tempContact {
			min-width: 250px;
			margin: 20px auto;
		}

		#footer-logo {
			margin-top: 0;
		}

}